body {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#3a3634;
}

.content{
  min-height: 100vh;
}

.gradiant{
  background: rgb(0,220,255);
  background: linear-gradient(336deg, rgba(0,220,255,1) 0%, rgba(192,0,255,1) 100%);
}

.card{
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#myInput {
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}